# App
NODE_ENV=development
PORT=3333
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d

# Postgres (porta não padrão)
DATABASE_URL="postgresql://gloopy:gloopy@postgres:5432/gloopy?schema=public"

# Redis (porta não padrão exposta no host: 6380 -> container usa 6379 internamente)
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ (porta não padrão exposta no host: 5673/15673 -> container usa 5672/15672)
RABBITMQ_URL=amqp://gloopy:gloopy@rabbitmq:5672

# MinIO (fase futura - Media context)
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=gloopy
MINIO_SECRET_KEY=gloopy12345
MINIO_BUCKET=gloopy-media

# CORS
CORS_ORIGIN=http://localhost:5173
